# change the private_key_file base on your actual env
# rename the file to ansible.cfg
[defaults]
hostfile = inventory
remote_user = root
private_key_file = 
host_key_checking=Fasle
log_path=/tmp/ansible.log